.legally { 
  margin-left: 200px;
  margin-top: 40px;
  margin-bottom: 100px;
  font-family: "Economica", sans-serif;
  font-family: "Raleway", sans-serif;
}


/* iPhone SE */
@media only screen and (min-width: 370px) and (max-width: 380px) {
  .header {
    flex-direction: column;
  }

  .search-field input {
    width: 350px;
    margin-bottom: 20px;
  }

  .header-menu {
    margin-bottom: 20px;
  }

  .legally {
    position: relative;
    right: 170px;
    width: 300px;
  }

  .footerS-30 {
    width: 300px;
    display: flex;
    justify-content: space-around;
  }

  .footer-row1 {
    width: 370px;
    flex-direction: column;
    margin-left: 10px;
    
  }

  .footer-40 {
    text-align: center;
    width: 350px;
  }

  .footerS-30 {
    position: relative;
    left: 25px;
    justify-content: space-around;
  }

  .footer-low {
    position: relative;
    right: 150px;
    width: 300px;
  }

  .footer-icons {
    width: 200px;
    position: relative;
    right: 100px;
  }
}

/* iPhone XR - S20 Ultra - Galaxy A51/71 */
@media only screen and (min-width: 410px) and (max-width: 420px) {
  .header {
    flex-direction: column;
  }

  .search-field input {
    width: 350px;
    margin-bottom: 20px;
  }

  .header-menu {
    margin-bottom: 20px;
  }

  .legally {
    position: relative;
    right: 130px;
    width: 300px;
  }

  .footerS-30 {
    width: 300px;
    display: flex;
    justify-content: space-around;
  }

  .footer-row1 {
    width: 370px;
    flex-direction: column;
    margin-left: 30px;
    
  }

  .footer-40 {
    text-align: center;
    width: 350px;
  }

  .footerS-30 {
    position: relative;
    left: 25px;
    justify-content: space-around;
  }

  .footer-low {
    position: relative;
    right: 150px;
    width: 300px;
  }

  .footer-icons {
    width: 200px;
    position: relative;
    right: 100px;
  }

}

/* iPhone 12 Pro - Pixel 5*/
@media only screen and (min-width: 385px) and (max-width: 400px) {
  .header {
    flex-direction: column;
  }

  .search-field input {
    width: 370px;
    margin-bottom: 20px;
  }

  .header-menu {
    margin-bottom: 20px;
  }

  .legally {
    position: relative;
    right: 130px;
    width: 300px;
  }

  .footerS-30 {
    width: 300px;
    display: flex;
    justify-content: space-around;
  }

  .footer-row1 {
    width: 370px;
    flex-direction: column;
    margin-left: 30px;
    
  }

  .footer-40 {
    text-align: center;
    width: 350px;
  }

  .footerS-30 {
    position: relative;
    left: 25px;
    justify-content: space-around;
  }

  .footer-low {
    position: relative;
    right: 150px;
    width: 300px;
  }

  .footer-icons {
    width: 200px;
    position: relative;
    right: 100px;
  }
}

/* Samsung Galaxy S8+*/
@media only screen and (min-width: 355px) and (max-width: 365px) {
  .header {
    width: 360px;
    flex-direction: column;
  }

  .search-field input {
    margin-bottom: 20px;
    width: 350px;
  }

  .header-menu {
    margin-bottom: 20px;
  }

  .legally {
    position: relative;
    right: 170px;
    width: 300px;
  }

  .footerS-30 {
    width: 300px;
    display: flex;
    justify-content: space-around;
  }

  .footer-row1 {
    width: 350px;
    flex-direction: column;
  }

  .footer-40 {
    text-align: center;
    width: 325px;
    position: relative;
    left: 10px;
  }

  .footerS-30 {
    position: relative;
    left: 25px;
    justify-content: space-around;
  }

  .footer-low {
    position: relative;
    right: 150px;
    width: 300px;
  }

  .footer-icons {
    width: 200px;
    position: relative;
    right: 100px;
  }
}

/* iPad Air */
@media only screen and (min-width: 815px) and (max-width: 825px) {
  .header {
    flex-direction: column;
  }

  .search-field input {
    margin-bottom: 20px;
  }

  .header-menu {
    margin-bottom: 20px;
  }

  .footer-row1 {
    flex-direction: column;
  }

  .footer-40 {
    position: relative;
    left: 100px;
    width: 600px;
    text-align: center;
  }

  .footerS-30 {
    position: relative;
    left: 200px;
    width: 350px;
    display: flex;
    justify-content: space-between;
  }
}

/* iPad Mini */
@media only screen and (min-width: 765px) and (max-width: 770px) {
  .header {
    flex-direction: column;
  }

  .search-field input {
    margin-bottom: 20px;
  }

  .header-menu {
    margin-bottom: 20px;
  }

  .footer-row1 {
    flex-direction: column;
    text-align: center;
    width: 440px;
    position: relative;
    left: 150px;
  }

  .footerS-30 {
    width: 400px;
    display: flex;
    justify-content: space-around;
  }
}

/* Surface Pro 7 */
@media only screen and (min-width: 910px) and (max-width: 915px) {
  .header {
    flex-direction: column;
  }

  .search-field input {
    margin-bottom: 20px;
  }

  .header-menu {
    margin-bottom: 20px;
  }

  .footerS-30 {
    width: 300px;
    display: flex;
    justify-content: space-around;
  }
}


/* Surface Duo */
@media only screen and (min-width: 535px) and (max-width: 545px) {
  .header {
    flex-direction: column;
  }

  .search-field input {
    margin-bottom: 20px;
  }

  .header-menu {
    margin-bottom: 20px;
  }

  .legally {
    position: relative;
    right: 100px;
  }

  .footer-row1 {
    flex-direction: column;
  }

  .footer-40 {
    position: relative;
    left: 20px;
    width: 500px;
    text-align: center;
  }

  .footerS-30 {
    width: 300px;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 125px;
  }

  .row {
    position: relative;
    right: 120px;
  }

  .footer-icons {
    position: relative;
    left: 130px;
  }
}

/* Galaxy Fold */
@media only screen and (min-width: 270px) and (max-width: 285px) {
  .header {
    flex-direction: column;
    width: 280px;
  }

  .search-field input {
    width: 270px;
    margin-bottom: 20px;
  }

  .header-menu {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .legally {
    position: relative;
    right: 180px;
    width: 240px;
  }

  .footer-row1 {
    flex-direction: column;
    width: 270px;
  }

  .footer-40 {
    text-align: center;
    width: 270px;
    position: relative;
    left: 5px;
  }

  .footerS-30 {
    flex-direction: column;
    width: 150px;
    position: relative;
    left: 60px;
    text-align: center;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .footer-low {
    position: relative;
    right: 60px;
  }

  .footer-icons {
    position: relative;
    right: 60px;
  }
}

/* Nest Hub */
@media only screen and (min-width: 1020px) and (max-width: 1030px) {
  .header {
    width: 1020px;
    flex-direction: column;
  }

  .search-field input {
    margin-bottom: 20px;
  }

  .header-menu {
    margin-bottom: 20px;
  }

  .footerS-30 {
    width: 300px;
    display: flex;
    justify-content: space-around;
  }
}

/* Nest Hub Max */
@media only screen and (min-width: 1270px) and (max-width: 1300px) {
  .footerS-30 {
    width: 300px;
    display: flex;
    justify-content: space-around;
  }

}